:root {
    --purple:  rgb(163, 43, 163);
}
body {
    font-family: 'Dosis';
    font-weight: 250;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: rgb(100, 107, 170);
    padding: 5em;
    color: white;
}
 
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: grey;
    height: 100vh;
    width: 70%;
    padding: 1em;
    box-shadow: 5px 5px 10px black;
    border-radius: 1em;
}

header {
    /* background-color: var(--purple); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font-size: 6em;
}

header p {
    text-shadow: 2px 2px 5px black;
}

.middle {
    /* background-color: var(--purple); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
    border-right: 5px solid black;
}

.middle-left {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 92%;
    margin: .5em;
    padding: 1em;
    gap: 1em;
}

.name-date {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 1.5em;
}

.name {
    /* background-color: var(--purple); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 60%;
    height: 20%;
    margin: 1em;
    border-bottom: 5px solid black;
}

.name p {
    text-shadow: 2px 2px 5px black;
}

.date {
    /* background-color: var(--purple); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 100%;
    height: 20%;
    margin: 1em;
}

.date p {
    text-shadow: 2px 2px 5px black;
}

.stats {
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 1.5em;
}

.stats p {
    text-shadow: 2px 2px 5px black;
}

.TWH {
    /* background-color: var(--purple); */
    height: 20%;
    width: 100%;
}


.middle-right {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 95%;
    margin: .5em;
}

.middle-right span {
    text-shadow: 2px 2px 5px black;
}

.middle-right span {
    font-size: 15em;
    color: yellow;
}


footer {
    /* background-color: var(--purple); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.five-day {
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 90%;
    border-radius: 3em;
    box-shadow: 4px 4px 10px black;
}

.five-day p {
    text-shadow: 2px 2px 5px black;
}

.five-day span {
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

aside {
    display: flex;
    flex-wrap: wrap;
    /* background-color: grey; */
    height: 100vh;
    width: 30%;
    padding: 1em;
    gap: 1em;
}

form {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    width: 100%;
    height: 25vh;
    box-shadow: 5px 5px 10px black;
    border-radius: 1em;
}

form input {
    font-family: 'Dosis';
    font-size: 1.5em;
    background: whitesmoke;
    border: none;
    border-radius: 20px;
    width: 80%;
    align-self: center;
    height: 7vh;
    box-shadow: 2px 2px 5px black;
}

form button {
    width: 50%;
    height: 2em;
    font-family: 'Dosis';
    font-size: 1.5em;
    align-self: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    background: whitesmoke;
}

.recent-searches {
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    box-shadow: 5px 5px 10px black;
    border-radius: 1em;
    padding-top: 2em;
}

.recent-searches button {
    width: 70%;
    height: 2em;
    border-radius: 1em;
    cursor: pointer;
}